.container{
  width: 70%;
  padding-top: 50px;
  margin: auto;
  text-align: center;
}

.reload{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.reload button{
  background-color: #4ECCA3;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: 'Indie Flower', cursive;
  color: #EEEEEE;
  cursor: pointer;
  transition: all 0.5s;
}


.dice {
  text-align: center;
  display: inline-block;

}


body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
animation: diceTransition 1s;
}

@keyframes diceTransition {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

