body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: monospace;
  background-color: #DDD;
}

p {
  font-size: 1.5em;
  font-weight: bold;
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
}

#gameCanvas {
  margin: auto;
  border-radius: 5px;
}