body {
    font-family: Arial, sans-serif;
    background-color: #101820;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#myForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

input[type="text"],
input[type="email"] {
    background-color: #eee;
}

button {
    background-color: #c4a748;
    color: #050404;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 0px;
}

button:hover {
    background-color: #ff4e45;
}